<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - devs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/devs.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css" integrity="sha512-CbQfNVBSMAYmnzP3IC+mZZmYMP2HUnVkV4+PwuhpiMUmITtSpS7Prr3fNncV1RBOnWxzz4pYQ5EAGG4ck46Oig==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid ">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">devs</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item hover-effect">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>

                        <li class="nav-item dropdown hover-effect">
                            <a class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="menu1">Inquilinos</a>
                            <ul class="dropdown-menu" aria-labelledby="menu1">
                                <li><a class="dropdown-item" asp-area="" asp-controller="inquilino" asp-action="Index" >Listado de Inquilinos</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="inquilino" asp-action="Crear">Crear Inquilino</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown hover-effect">
                            <a class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="menu2">Propietarios</a>
                            <ul class="dropdown-menu" aria-labelledby="menu2">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Propietario" asp-action="Index" >Listado de Propietarios</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Propietario" asp-action="Crear">Crear Propietario</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown hover-effect">
                            <a class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="menu3">Inmuebles</a>
                            <ul class="dropdown-menu" aria-labelledby="menu3">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Inmueble" asp-action="Index" >Listado de inmuebles</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="inmueble" asp-action="Crear">Registrar inmueble</a></li>
                            </ul>
                        </li>
                          
                          <li class="nav-item dropdown hover-effect">
                            <a class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="menu4">Contratos</a>
                            <ul class="dropdown-menu" aria-labelledby="menu4">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Contrato" asp-action="Index" >Listado de Contratos</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Contrato" asp-action="Crear">Crear Contrato</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        @if (TempData["Message"] != null)
        {
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
        }
        <div class="container">
            &copy; 2025 - devs - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> <!-- para cargar select 2-->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script type="text/javascript">
		const notyf = new Notyf({
			duration: 2500,
			types: [
				{
					type: 'info',
					background: '#004085',
					icon: {
						className: 'fa-solid fa-circle-info',
						tagName: 'i',
						color: 'white'
					}
				}
			]
		});</script>

    
    @await RenderSectionAsync("Scripts", required: false)
    


     
    
</body>
</html>
