@model IEnumerable<devs.Models.Propietario>

@{
    ViewData["Title"] = "Propietarios";
    
    var DniFiltro = ViewBag.DniFiltro;
    var EstadoFiltro = ViewBag.EstadoFiltro; 
}

<h1>Listado de Propietarios</h1>

<p>
    <a asp-action="Crear" class="btn btn-success">Crear Nuevo Propietario</a>
</p>

<form id="filtroForm">
    <div class="row mb-3">
        <div class="col-md-4">
            <label for="dniFiltro" class="form-label">Filtrar por DNI:</label>
            <input type="text" class="form-control" id="dniFiltro" name="dni" 
                   value="@DniFiltro" placeholder="Ingresa un DNI">
        </div>
        
        <div class="col-md-4">
            <label for="estadoFiltro" class="form-label">Filtrar por Estado:</label>
            <select class="form-select" id="estadoFiltro" name="estado">
                <option value="">Todos</option>
                <option selected ="@(EstadoFiltro == "true")" value="true" >Activo</option>
                <option selected = "@(EstadoFiltro == "false")" value="false" >Inactivo</option>
            </select>
        </div>
        
        <div class="col-md-4 d-flex align-items-end">
             <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </div>
</form>

<hr/>

<div id="tablaPropietarios">
    @await Html.PartialAsync("_TablaPropietariosPartial", Model)
</div>

@section Scripts {
    <script>
    $(document).ready(function(){
        
        function cargarTabla(url){
            
            $("#tablaPropietarios").html('<p class="text-center">Cargando propietarios...</p>');
            $.ajax({
                url: url,
                type: "GET",
                success: function(data){
                    $("#tablaPropietarios").html(data);
                    history.pushState(null, '', url); 
                },
                error: function(xhr, status, error){
                    $("#tablaPropietarios").html('<p class="text-danger text-center">Error al cargar los datos: '+ error+ '</p>');
                }
            });
        }

        
        $(document).on("click", "#tablaPropietarios a.page-link", function(e){
            e.preventDefault();
            var url = $(this).attr("href");
            cargarTabla(url);
        });

       
        $("#filtroForm").on("submit", function (e) {
            e.preventDefault(); 
            
            var dni = $("#dniFiltro").val() || "";
            var estado = $("#estadoFiltro").val() || ""; 
            
            var url = '@Url.Action("Index", "Propietario")';
            
            url += `?pagina=1&dni=${dni}&estado=${estado}`; 
            
            cargarTabla(url);
        });
    });
    </script>
}