@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     <p>
        <a asp-controller="Propietario" asp-action="Index">Ver Propietarios</a>
    </p>


   <p> <a asp-controller = "Inquilino" asp-action="Index"> Ver Inquilinos</a></p>

   <p> <a asp-controller = "Inmueble" asp-action="Index"> Ver Inmuebles</a></p>
   
    <p>

        <!-- <a asp-controller="Propietario" asp-action="Crear">Crear</a> -->
    </p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
