@model devs.Models.CambioClaveView


<form asp-action="CambiarClave" asp-controller="Usuario" method="post" asp-antiforgery="true">
    
    
    @if (!ViewData.ModelState.IsValid)
    {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    }

    <div class="mb-3">
        <label asp-for="ClaveVieja" class="form-label"></label>
       
        <input asp-for="ClaveVieja" class="form-control" required />
        <span asp-validation-for="ClaveVieja" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ClaveNueva" class="form-label"></label>
        <input asp-for="ClaveNueva" class="form-control" required />
        <span asp-validation-for="ClaveNueva" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ClaveRepeticion" class="form-label"></label>
        <input asp-for="ClaveRepeticion" class="form-control" required />
        <span asp-validation-for="ClaveRepeticion" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-warning">
        <i class="fa-solid fa-key"></i> Actualizar Contraseña
    </button>
</form>